name: iOS-E2E
on:
  workflow_dispatch:
    inputs:
      recordVideo:
        description: 'Record E2E Tests'
        required: true
        default: 'false'
  push:
    branches:
  pull_request:
defaults:
  run:
    shell: bash
jobs:
  generate:
    name: e2e-${{ matrix.app_type }}
    runs-on: macos-10.15
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.pull_request.title, '[skip ci]') && !contains(github.event.pull_request.title, '[ci skip]') && !contains(github.event.ref_type, '[tag]')"
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        node_version: [14.x]
        app_type:
          - JwtApp
          - JwtDtoApp
          - JwtWebsocketsApp
          - JwtHealthPoints
          - OauthApp
        include:
          - app_type: JwtApp
            auth_type: jwt
            dto: false
          - app_type: JwtDtoApp
            auth_type: jwt
            dto: true
          - app_type: JwtWebsocketsApp
            auth_type: jwt
            dto: false
            websockets: true
          - app_type: JwtHealthPoints
            auth_type: jwt
            dto: false
            entity_jdl: entities-21points.jdl
          - app_type: OauthApp
            auth_type: oauth2
            dto: false
    env:
      JHI_REACT_NATIVE_APP_NAME: ${{ matrix.app_type }}
      JHI_AUTH_TYPE: ${{ matrix.auth_type }}
      JHI_DTO: ${{ matrix.dto }}
      JHI_WEBSOCKETS: ${{ matrix.websockets }}
      JHI_ENTITY_JDL: ${{ matrix.entity_jdl }}
      SCRIPT_DIR: ./test/scripts
      PLATFORM: ios
      JHI_RECORD_VIDEO: ${{ github.event.inputs.recordVideo || 'false' }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: ${{ matrix.node_version }}
        # for running pipelines locally with `act`
        env:
          RUNNER_TEMP: "/tmp/"
      - uses: actions/setup-java@v1
        with:
          java-version: '11.x'
      - run: git --no-pager log -n 10 --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) <%an>%Creset' --abbrev-commit
      - uses: actions/setup-node@v2.1.4
        with:
            node-version: ${{ matrix.node_version }}
      - name: Config git variables
        run: $SCRIPT_DIR/git-config.sh
      - run: $SCRIPT_DIR/install-node-dependencies.sh
        name: 'TOOLS: install node dependencies'
      - run: $SCRIPT_DIR/install-detox.sh || $SCRIPT_DIR/install-detox.sh
        name: 'TOOLS: installing Detox and its dependencies'
      - run: $SCRIPT_DIR/display-tools.sh
        name: 'TOOLS: display tools'
      - run: npm i && npm link
        name: 'TOOLS: npm install and link in generator-jhipster-react-native'
      - run: $SCRIPT_DIR/copy-jdl-file.sh
        name: 'SETUP: copy the JDL file for the backend and app'
      - run: $SCRIPT_DIR/generate-jhipster-backend.sh
        name: 'GENERATING: generate jhipster backend'
      - run: $SCRIPT_DIR/generate-react-native-app.sh
        name: 'GENERATING: generate react-native app'
#      - uses: nick-invision/retry@v2
#        name: 'TESTING: run detox tests'
#        with:
#            max_attempts: 3
#            timeout_minutes: 60
#            command: $SCRIPT_DIR/run-detox-tests.sh
#            on_retry_command: kill $(lsof -ti:8080,19000-19010); pushd ${{ runner.workspace }}/backend; ./mvnw clean -ntp; popd;
      - run: $SCRIPT_DIR/run-detox-tests.sh
        name: 'TESTING: run detox tests'
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
            name: expo-app-${{ matrix.app_type }}
            path: |
              ${{ runner.workspace }}/${{ matrix.app_type }}/**/*
              !${{ runner.workspace }}/${{ matrix.app_type }}/node_modules
              !${{ runner.workspace }}/${{ matrix.app_type }}/e2e/Exponent.app
