name: Auto Merge

on: pull_request_target

permissions:
  pull-requests: write
  contents: write

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'jhipster/generator-jhipster-react-native' && github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2.4.0
      - name: Enable auto-merge for Dependabot PRs
        if: ${{ steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major' }}
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
        if: steps.dependabot-metadata.outputs.dependency-names == 'expo'
      - uses: jhipster/actions/setup-git@v0
        if: steps.dependabot-metadata.outputs.dependency-names == 'expo'
      - run: |
          cd generators/react-native/resources/expo
          npm run update-dependencies
          git commit -a -m "update expo managed dependencies" || true
          git push -u origin || true
        if: steps.dependabot-metadata.outputs.dependency-names == 'expo'
